.divhead{
	background-color: lightgrey;
	padding:70px;
	margin: 20px 70px;
}
.container{
	margin top:10px;
	margin bottom: 20px;
}
div.row{
	margin-bottom:20px;
}
img{
	border:1px solid grey;
	border-radius: 5px;
	padding: 4px;
}